<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.min.css">
    <link rel="stylesheet" href="../css/template.min.css">
    <title>Register</title>
</head>
<body>
    <header class="flex">
    </header>
    <main class="flex">
        <div class="choose-type-user flex">
            <h2>Are you</h2>
            <div class="flex">
                <button class="candidate"><h3>Candidate</h3></button>
                <button class="recruiter"><h3>Recruiter</h3></button>
            </div>
        </div>
        <form class="hidden" action="/create" method="POST" id="form-new-candidate">
            <h2>Create your account</h2>
            <div class="flex bloc-row">
                <input type="text" required name="first_name" placeholder="First name">
                <input type="text" required name="last_name" placeholder="Last name">
            </div>
            <input type="number" name="phone" placeholder="phone number" id="">
            <label for="Birthday">Birthday</label>
            <input type="date" name="birthday" max="2018-12-31" required>
            <textarea name="description" placeholder="decription about you" cols="30" rows="10"></textarea>
            <input type="text" required name="email" placeholder="Email">
            <input type="password" required name="password" placeholder="Password" id="psw">
            <input type="password" required name="comfirmPassword" placeholder="Comfirm password" id="confirm-Psw">
            <div id="confirmation">

            </div>
            <input type="submit" value="register" class="button" disabled>
        </form>
        <form class="hidden" action="/create" method="POST" id="form-new-recruiter">
            <h2>Create account for your companie</h2>
            <input type="text" required name="companie_name" placeholder="Companie name">
            <input type="text" name="adress" placeholder="Adress" required>
            <textarea name="description" placeholder="Decription about your companie" cols="30" rows="10"></textarea>
            <input type="text" required name="email" placeholder="Email">
            <input type="url" name="link" placeholder="Link to yout website">
            <input type="text" name="siret" placeholder="siret" >
            <input type="password" required name="password" placeholder="Password" class="psw_companie">
            <input type="password" required name="comfirmPassword" placeholder="Comfirm password" class="confirm-Psw_companie">
            <div id="confirmation_companie">

            </div>
            <input type="submit" value="register" class="button" disabled>
        </form>
        <script src="../js/register.js"></script>
        <script type="text/javascript" src="../js/template.js"></script>
        <script type="text/javascript" src="../js/logout.js"></script>
    </main>
</body>
</html>