@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}

header{
    height: 8vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    background-color: #49306B;
    color: white;
    z-index: 100;
    ul{
        width: 20%;
        justify-content: space-around;
        font-weight: bold;
        li{
            list-style-type: none;
            &:hover{
                color: white;
            }
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    min-height: 92vh;
    flex-direction: row;
    width: 100%; 
    align-items: center;
    padding-top: 8vh;
    section{
        min-height: 92vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #content-research{
            flex-direction: column;
            width: 60%;
            align-items: left;
            gap: 10px;
            position: relative;
            label{
                text-align: left;
                width: auto;
            }
            input{
                padding: 0px 10px;
                height: 40px;
                width: auto;
                border-radius: 10px;
                border: 1px solid lightgray;
                ::placeholder{
                    color: black;
                }

            }
            select{
                border-radius: 10px;
                border: none;
                padding: 0px 10px;
                border: 1px solid lightgray;
                width: auto;
                height: 40px;
            }
            div{
                width: 100%;
                justify-content: space-around;
                .search{
                    height: 40px;
                    width: 35%;
                }
            }
            input:focus {
                border: 2px solid #49306B;
            }
        }
    }
}

#presentation-homepage{
    width: 50vw;
}

#search-homepage{
    width: 50vw;
}

#search-homepage.active{
    width: 30vw;
    #content-research{
        width: 20%;
        position:fixed;
        top: 40vh;
    }
}

#result-homepage{
    width: 70vw;
    height: 100%;
    box-shadow: -10px 0px 10px 1px #cacaca;
    padding: 50px;
    align-items: start;
    gap: 40px;
    #type-contract-checkbox{
        flex-direction: row;
        gap: 20px;
        div{
            border: 2px solid #F9627D; 
            padding: 10px;
            border-radius: 5px;
        }
        div:nth-child(2){
            border-color: #85C7F2;
        }
        div:nth-child(3){
            border-color: #EFEA5A;
        }
        div:nth-child(4){
            border-color: #49306B;
        }
        div:last-child{
            border-color: #16DB93;
        }
    }
}

.content-result-homepage{
    padding: 20px 40px;
    box-shadow: 0px 0px 15px #cacaca;
    border-radius: 10px;
    .intro-advertisement {
        justify-content: space-between;
    }
    .informations-advertisement{
        justify-content: space-around;
    }
    button{
        background-color: #49306B;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    .long-description-advertisement{
        flex-direction: column;
    }
}

.icon-text-result {
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    img {
        width: 20px;
        height: auto;
    }
}