<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/account.min.css" />
    <link rel="stylesheet" href="../css/template.min.css" />
    <title>User dashboard</title>
  </head>
  <body>
    <header class="flex"></header>
    <main class="flex">
      <form id="form-content-user-account">
        <h2>Update your informations</h2>
        <div class="form-profile-user-account flex bloc-col"></div>
        <input type="submit" value="Update" class="update-account-user" />
      </form>
      <div class="list-advertisement-user-apply">
        <h3>Advertisements you have applied for</h3>
      </div>
    </main>
    <script type="text/javascript" src="../js/userAccount.js">
    </script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/logout.js"></script>
  </body>
</html>
